# Links

## Contact

- [Discord](https://discordapp.com/users/1046112103787933776) (@avafe)
- [Email](mailto:ava@avafe.me)

## Socials

- [Bluesky](https://bsky.app/profile/avafe.me)
- [Twitter](https://x.com/AvafeIsMe)
- [YouTube](https://www.youtube.com/@Avafe)
- [TikTok](https://www.tiktok.com/@imavafe)

## Work

- [GitHub](https://github.com/ImAvafe)
- [Roblox](https://www.roblox.com/users/144146784/profile)
- [Resume](/resume)
