---
title: avafe.me
description: "My personal website"
date: 2022-10-18
href: https://avafe.me
type: Website
role: Creator
icon: /img/projects/avafe-me.png
priority: 10001
categories:
- web
- svelte
- tailwind
---
