---
title: avafe.me
description: "My personal website"
date: 2022-10-18
href: https://avafe.me
type: Website
role: Creator
icon: /src/lib/assets/img/projects/avafe-me.png
priority: 10001
categories:
- web
- svelte
- tailwind
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
