---
title: avafe.me
description: "My personal website"
date: 2022-10-18
type: Website
role: Creator
icon: https://picsum.photos/536/354
priority: 10001
categories:
- web
- svelte
- tailwind
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
