---
title: Avalog
description: "The premium avatar catalog editor"
date: 2024-11-26
href: https://loneka.com/avalog
type: Applet
role: Creator
independent: true
icon: /img/projects/avalog.png
priority: 3
categories:
- roblox
- tool
- ui/ux
- commerce
keyMetric: "4x Revenue"
metrics:
- name: User Sessions
  value: 1B
- name: Post-adoption Revenue
  value: 4x
  clarifier: up to*
- name: Satisfaction Rate
  value: 94%
---
