---
title: Devcember
description: "Month-long artistic game development event"
date: 2023-12-01
type: Event
role: Organizer
icon: /src/lib/assets/img/projects/devcember.png
categories:
- art
- event
---
