---
title: Firefight
description: "A swipe-based Godot game about fighting fires"
date: 2025-02-08
type: Game
role: Creator
icon: /src/lib/assets/img/projects/firefight.png
priority: 8
categories:
- godot
- game
- web
- mobile
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
