---
title: HD Admin
description: "Gaming's #1 administrative monetization utility"
date: 2025-2-1
href: https://create.roblox.com/store/asset/857927023
type: App
role: Software Engineer
icon: /img/projects/hd-admin.png
priority: 2
categories:
- roblox
- fusion
- onyx-ui
- ui-ux
metrics:
- name: Total Sessions
  value: 100B
- name: Peak Concurrent Sessions
  value: 25M
- name: Satisfaction
  value: 93%
---
