---
title: Kitty Dash
description: "Platformer game where you play as a cat"
date: 2023-10-03
href: https://www.roblox.com/games/14958801951
type: Game
role: Creator
icon: /src/lib/assets/img/projects/kitty-dash.png
priority: 6
categories:
- roblox
- game
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
