---
title: Kitty Dash
description: "Platformer game where you play as a cat"
date: 2023-10-03
href: https://www.roblox.com/games/14958801951
type: Game
role: Creator
icon: /img/projects/kitty-dash.png
priority: 7
categories:
- roblox
- game
metrics:
- name: Total Sessions
  value: 4.4M
- name: Total Hours
  value: 473k
- name: Favorites
  value: 22k
---
