---
title: NeoHotbar
description: "Modern, customizable hotbar for Roblox"
date: 2022-09-20
icon: https://picsum.photos/536/354
priority: 5
categories:
- roblox
- tool
- ui/ux
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
