---
title: null-remote
description: "Remote webapp for race car hackathon"
date: 2025-03-21
href: https://github.com/ImAvafe/null-remote
type: App
role: Creator
icon: /src/lib/assets/img/projects/null-remote.png
categories:
- web
- svelte
- tailwind
---

The remote for my team's entry in a race car hackathon, built in 48 hours as a WebSocket-enabled SvelteKit web app running from the car's onboard Raspberry Pi.
