---
title: Poser
description: "A social deduction party game"
type: Game
date: 2023-07-14
href: https://www.roblox.com/games/12716101148/
role: Creator
icon: "/img/projects/poser.png"
priority: 2
categories:
- roblox
- game
metrics:
- name: Total Sessions
  value: 41M
- name: Total Hours
  value: 27M
- name: Favorites
  value: 112k
---
