---
title: Rorooms
description: "Social framework for Roblox"
date: 2022-11-07
role: Creator
type: Framework
icon: https://picsum.photos/536/354
priority: 4
categories:
- roblox
- tool
- framework
- ui/ux
- web
- svelte
- tailwind
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
