---
title: UW Gamedev
description: "The University of Waterloo's game development club, home of the largest student-led game jams in Canada."
date: 2025-9-1
href: https://uwgamedevclub.itch.io/
type: Organization
role: Media Executive
icon: /img/projects/uw-gdc.png
priority: 5
keyMetric: "#1 in 🇨🇦"
metrics:
- name: In Canada
  value: "#1"
- name: Jam Submissions
  value: 162
- name: Members
  value: 2k
---
